<header class="site-header">

  <div class="container">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

        <div class="trigger">
            <span class="site-links">
                <a class="page-link" href="{{ site.baseurl }}/">Home</a>
                <a class="page-link" href="{{ site.baseurl }}/about">About</a>
                <a class="page-link" href="{{ site.baseurl }}/blog">Blog</a>
            </span>
            <div class="social-icons">
                <a class="twitter-social" href="http://twitter.com/pezza192" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="instagram-social" href="http://instagram.com/pezza3434" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="linkedin-social" href="http://uk.linkedin.com/pub/alexander-perry/49/a91/205/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                <a class="github-social" href="http://github.com/pezza3434"><i class="fa fa-github-alt" target="_blank"></i></a>
                <a class="mailme-social" href="mailto:alexperry2@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </nav>

  </div>

</header>
