.about {
    #fullstrip {
        background-image: url("/images/header-images/barcelona.jpg");

        .title {
            padding: 150px 0px;
        }
    }
}

.bio{
  .title{
    padding: 14px 15px;
    font-size: 18px;
    color: #a0a0a0;
    border-bottom: 2px solid #d3d2d2;
  }

  .bio-image{

    margin-bottom:20px;

    img{
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      width: 220px;
      height: 220px;
      display:block;
      margin:0 auto;
    }

  }

  .content-area{
    padding:20px 0px;
  }

  .skill{
      padding: 8px 11px;
      margin: 6px 0px;
      display: block;
      border-radius:2px;
      font-size:16px;
      font-weight:bold;
      color: #ffffff;

    i{
      float:right;
    }
  }

  .interest{
    padding: 8px 11px;
    margin: 6px 0px;
    display: block;
    border-radius:2px;
    font-size:12px;
    color: #8a8a8a;
    font-size: 14px;

    &.large{
      width:100%
    }

    &.right{
      float:right;
    }
  }

  .skill:hover {
    color: #ffffff;
    text-decoration:none;
  }

  .skill-box{
    background: #aa3939;
    color: #ffffff;
    font-size: 12px;
    padding: 13px;
    margin: 10px 0px 0px;
  }

  .skill.html{
    color: #E34F42;
  }

  .skill.css{
    color: #80628B;
  }

  .skill.javascript{
    color: #C6CCD5;
  }

  .skill.jquery{
    color: #4BBFA5;
  }

  .skill.angular{
    color: #F39A3E;
  }

  .skill.php{
    color: #8892BF;
  }

  .skill.more{
    background: #2DA3B6;
  }

}

@media (max-width: $screen-sm) {
  .bio{
    .skill {
      width:100%;
    }
  }
}
