nav{
  float: right;
  font-size: 17px;
  font-weight: lighter;
  padding: 13px 0px 13px 0px;
  color:#fffff;

  a{
    text-decoration:none;
    padding:0px 10px 0px 10px;
    color:$post-color;
    text-transform:uppercase;

  }

  a:hover{
    text-decoration:underline;
  }
}

.site-title{
  padding:13px 0px;
  float:left;
  font-weight:300;
  text-decoration:none;
  color:$post-color;
}

.twitter-social:hover {
    color: #55ACEE;
}

.instagram-social:hover{
  color:#E34F42;
}

.linkedin-social:hover{
  color:#2DA3B6;

}

.github-social:hover{
  color:#80628B;
}

.mailme-social:hover{
  color:#4BBFA5;
}

@media (max-width: $screen-sm) {
  nav{
    float:none;
  }

  .site-links{
    display: block;
    text-align: center;
  }
}
