html{
  height:100%;
}

body{
  height:100%;
  padding:0;
  margin:0;
  font-family:$base-font-family;
}

p{
  font-family: $secondary-font-family;
}

.url_index{
  .site-header{

    position:absolute;
    left:0;
    right:0;

  }
}

.homepage-banner{
  height:100%;
  background-image:url(/images/alexbackground.jpg);
  width:100%;
  display:table;
  background-size: cover;

  .vertical{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
  }

  .home-header-main{
    font-size: 54px;
    font-weight: bold;
  }

  .home-header-sub{
    font-weight:lighter;
  }
}

.social-icons{

  display:inline;

  a{
    padding:0;
    margin:0;
  }

  i{
    padding: 0px 4px;
  }
}

