html{
  height:100%;
}

body{
  height:100%;
  padding:0;
  margin:0;
  font-family:$base-font-family;
}

p{
  font-family: $secondary-font-family;
}

.url_index{
  .site-header{
    position:absolute;
    left:0;
    right:0;
  }
  .site-title{
    display:none;
  }

  footer{
    height:0px;
  }
}

.homepage-banner{
  height:100%;
  background-image:url(/images/alexbackground-optimised-small.jpg);
  width:100%;
  display:table;
  background-size: cover;

  .vertical{
    display:table-cell;
    text-align:center;
    padding-top:180px;
  }

  .home-header-main{
    font-size: 54px;
    font-weight: lighter;
    color:#444444;
  }

  .home-header-sub{
    font-weight:lighter;
  }
}

.social-icons{

  display:inline;

  a{
    padding:0;
    margin:0;
  }

  i{
    padding: 0px 4px;
  }
}

.site-links{
  .home{
    display:none;
  }
}

@media (max-width: $screen-sm) {

  .site-title{
    display:none;
  }

  .site-links{
    .home{
      display:inline-block;
    }
  }

  .site-links a{
    font-size:16px;
  }

  .social-icons{
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 20px;
  }

  .site-header{
    .container{
      margin:0px;
      padding:0px;
    }
  }
}

@media (max-width: $screen-sm) {
    .homepage-banner .vertical {
        padding-top:90px;
    }
    .homepage-banner{
      .home-header-main{
        font-size: 40px;
      }
      .home-header-sub{
        font-size:12px;
      }
    }
}

//custom media queries for homepage image

@media (max-width: 500px) {
  .homepage-banner{
    background-image:url(/images/alexbackground-optimised-small.jpg);
  }
}
@media (max-width: 750px) {
  .homepage-banner{
    background-image:url(/images/alexbackground-optimised-medium.jpg);
  }

}
@media (min-width: 751px) {
  .homepage-banner{
    background-image:url(/images/alexbackground-optimised.jpg);
  }

}
