html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
}
p {
    font-family: $secondary-font-family;
}
.homepage {
    .site-header {
        position: absolute;
        left: 0;
        right: 0;
        color: #fff;
    }
    .site-title {
        display: none;
    }
    footer {
        height: 0;
    }
}
.homepage-banner {
    height: 100%;
    width: 100%;
    display: table;
    background-size: cover;
    color: #fff;
    background-image: url("../images/salfordquays-blur.jpg");
    transition: background 2s linear;

    &.image--loaded {
        background-image: url("../images/salfordquays.jpg");
    }

    .vertical {
        position: absolute;
        left: 25px;
        bottom: 20px;
    }
    .home-header-main {
        font-size: 40px;
        font-weight: lighter;
    }
    .home-header-sub {
        font-weight: lighter;
    }
}
.social-icons {
    display: inline;
    a {
        padding: 0;
        margin: 0;
    }
    i {
        padding: 0 4px;
    }
}
.copyright {
    position: absolute;
    right: 25px;
    bottom: 20px;
    font-weight: lighter;
    a {
        color: #fff;
        text-decoration: underline;
    }
}
.site-links {
    .home {
        display: none;
    }
}
@media (max-width: $screen-sm) {
    .copyright {
        display:none;
    }
    .site-title {
        display: none;
    }
    .site-links {
        .home {
            display: inline-block;
        }
    }
    .site-links a {
        font-size: 16px;
    }
    .social-icons {
        text-align: center;
        display: block;
        padding: 10px;
        font-size: 20px;
    }
    .site-header {
        .container {
            margin: 0;
            padding: 0;
        }
    }
}
@media (max-width: $screen-sm) {
    .homepage-banner .vertical {
        padding-top: 90px;
    }
    .homepage-banner {
        .home-header-main {
            font-size: 40px;
        }
        .home-header-sub {
            font-size: 12px;
        }
    }
    .homepage-banner {
        .vertical {
            position: absolute;
            bottom: 25px;
            text-align:center;
            left: 0;
            right: 0;
        }
    }
}
