.post-name{
  padding:9px 0px 0px;
    a{
    }
}

.post-date{
  color:$lighter-color;
}

.post-excerpt{
  font-size:18px;
}

.post-wrapper{
  text-decoration: none;
  color: $post-color;
  letter-spacing: -1px;
}