.post-name{
  padding:9px 0px 0px;
    a{
      color:#444444;
    }

    a:hover{
      color:#aa3939;
    }
}

.post-date{

  i {
    padding-right: 10px;
  }

  color:$lighter-color;
}

.post-excerpt{
  font-size:18px;
  p{
      margin: 7px 0px;
  }
}

.post-wrapper{
  text-decoration: none;
  color: $post-color;
  letter-spacing: -1px;
  margin-bottom:40px;
}

.post-footer{
  margin: 38px auto;
  border-top: 2px solid #eaeaea;
  padding-top:32px;

  .title{
    color:#444444;
    display:block;
    font-weight:bold;
    font-size:24px;
  }

  img{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 120px;
    height: 120px;
    display:block;
    margin:0 auto;
    border: 6px solid #eaeaea;
  }

  .desc{
    margin-top: 7px;
    margin-left: 0px;
    color: #818181;
    font-size: 16px;
  }
}

