html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
    border-top: 4px solid #444;
    font-size:14px;
}
a {
    text-decoration: none;
    color: #aa3939;
}
a:hover {
    text-decoration: underline;
}
p {
    font-family: $secondary-font-family;
    color: #3d3d3d;
    line-height: 1.5;
    font-size: 20px;
    word-break: break-word;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    color: $post-color;
}
hr {
    color: #eaeaea;
    border: 1px dashed;
}
.narrow-container {
    max-width: 700px;
}
#fullstrip {
    width: 100%;
    background: #000;
    background-image: url("/images/pagebackground.jpg");
    background-position-y: -900px;
    margin: 0 0 36px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .title {
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        padding: 50px 0;
    }
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 18px;
}
.lead {
    font-size: 32px;
}
footer {
    height: 70px;
}

code[class*="language-"], pre[class*="language-"] {
    font-size:1em;
}

img {
    width: 100%;
}
