---
title: Blog
layout: default
---

<div id="fullstrip">
    <div class="container narrow-container">
        <div class="title">{{ page.title }}</div>
    </div>
</div>

<div class="container narrow-container post-index">
    <div class="col-md-8">
        {% for post in paginator.posts %}
        <div class="post-wrapper">
            <h1 class="post-name"><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <div class="post-date"><i class="fa fa-calendar"></i>{{ post.date | date: '%B %d, %Y' }}</div>
            <div class="post-excerpt">
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </div>
        </div>
        {% endfor %}
        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">← Newer Posts</a>
          {% else %}
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Older Posts →</a>
          {% else %}
          {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="second-column-title">Upcoming conferences</div>
        <div id="app-container"></div>
<script>
window.eventCalId=2;var mainScript=document.createElement("script");mainScript.setAttribute("src","http://46.101.54.208:3434/calendar-build/main.js"),document.head.appendChild(mainScript);var stylesheet=document.createElement("link");stylesheet.setAttribute("href","http://46.101.54.208:3434/calendar-build/styles.css"),stylesheet.setAttribute("rel","stylesheet"),document.head.appendChild(stylesheet);var fontAwesome=document.createElement("link");fontAwesome.setAttribute("href","https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"),fontAwesome.setAttribute("rel","stylesheet"),document.head.appendChild(fontAwesome);
</script>
                        


</div>
