---
layout: default
---

<div id="fullstrip">
    <div class="container">
        <div class="col-md-12">
            <div class="title">Some musings about me...</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="post">
        <div class="col-md-3 bio">

            <div class="bio-image">
                <img src="/images/profileimage.jpg">
            </div>

            <div class="title">
                I make software with:
            </div>

            <div class="content-area">

                <span class="skill html" data-box="html">HTML
                </span>

                <span class="skill css" data-box="css">CSS
                </span>

                <span class="skill javascript" data-box="javascript">JavaScript
                </span>

                <span class="skill jquery" data-box="jquery">React
                </span>

                <span class="skill angular" data-box="angular">NodeJS
                </span>

                <span class="skill php" data-box="php">Redux
                </span>

            </div>

            <div class="title">
                Things I love:
            </div>

            <div class="content-area">
                <div class="interest">
                    Squash (the racket game!)
                </div>
                <div class="interest">
                    Piano (I wish I had more time for this)
                </div>
                <div class="interest">
                    Exercise
                </div>
                <div class="interest">
                    Restaurant Meals
                </div>
                <div class="interest">
                    Holidays and Travel
                </div>
                <div class="interest">
                    Snowboarding
                </div>
            </div>

        </div>

        <div class="col-md-9">

            <h2>Hey there! Welcome to my site.</h2>

            <p>Thanks for popping in to say hi. It’s great to have you here.</p>

            <p>I’m Alex. It’s a pleasure to meet you.</p>

            <h2>The Developer me.</h2>

            <p>I’m a JavaScript guy from top to bottom. I’ve been tinkering with the language since my teens, but programming professional for over 3 years.</p>

            <p>It’s great that we’re involved in an ecosystem that is currently evolving so rapidly, even if it can bring about the dreaded ‘JavaScript fatigue’. </p>

            <p>I'm currently very interested in <strong>React, Redux</strong> and the tools surrounding. </p>

            <p>I'm a heavy Node.js user and have spent a lot of time building server side and API applications. </p>

            <h2>The <u>other</u> me.</h2>

            <p>I love travelling, going places and doing things. </p>

            <p>I genuinely believe that as developers we have incredible jobs that give us a huge amount of opportunity; but you’ve got to stand up every now and again and <strong>move around!</strong></p>

            <p>I’m lucky to live in the north of England where there is an infinite amount of beautiful countryside. You don’t have to travel far here for a nice walking location. </p>

            <p>I love snowboarding. It’s something I’m determined to get better at (other people make it look so easy), even if it is relatively difficult to get on a slope when you live in England. </p>

            <p>I also have a girlfriend called Vanessa who keeps me busy making sure I make time to do the above. </p>

        </div>

    </div>
</div>
