---
layout: default
---

<div id="fullstrip">
    <div class="container">
        <div class="col-md-12"><div class="title">{{ page.title }}</div></div>
    </div>
</div>

<div class="container">
    <div class="post">
        <div class="col-md-3 bio">

            <div class="bio-image">
                <img src="/images/profileimage.jpg">
            </div>

            <div class="title">
                Things I'm good at
            </div>

            <div class="content-area">

                <span class="skill html" data-box="html">HTML <i class="fa fa-angle-down"></i></span>
                <div class="skill-box html" style="display:none">
                    As a front-end developer my HTML skills are 'top notch'! On a day-to-day basis I use Twitter Bootstrap however I am more than capable of creating sites from scratch, such as this! I also have extensive experience creating responsive sites for tablet and mobile.
                </div>

                <span class="skill css" data-box="css">CSS <i class="fa fa-angle-down"></i></span>
                <div class="skill-box css" style="display:none">
                    CSS is another staple in my toolkit. I have experience in technologies such as LESS and SASS - enterprise sites can quickly get into a huge mess but these technologies definitely make things a lot easier.
                </div>

                <span class="skill javascript" data-box="javascript">JavaScript <i class="fa fa-angle-down"></i></span>
                <div class="skill-box javascript" style="display:none">
                    I'm a massive javascript fan and this is currently where I spend most of my time. I'm currently experimenting with Node.JS and all sorts of different technologies associated with it. On top of this, I believe my core JS skills are good.
                </div>

                <span class="skill jquery" data-box="jquery">jQuery <i class="fa fa-angle-down"></i></span>
                <div class="skill-box jquery" style="display:none">
                    "jQuery powers the internet" - Yes it certainly seems that way sometimes. jQuery definitely has its uses however I try and see it as not the 'be all and end all' in javascript web development. Despite this I have significant experience with the jQuery framework.
                </div>

                <span class="skill angular" data-box="angular">AngularJS <i class="fa fa-angle-down"></i></span>
                <div class="skill-box angular" style="display:none">
                    I wasn't sure if this deserved a category of it's own but I couldn't resist. Love it or hate it I'm a huge fan. Since using this in my personal projects and on larger scale applications I've seen huge benefits in regards to readability of the ee and scalability. I continue to build my Angular knowledge on a daily basis.
                </div>

                <span class="skill php" data-box="php">PHP <i class="fa fa-angle-down"></i></span>
                <div class="skill-box php" style="display:none">
                    I seem to have used less PHP more recently however I have experience creating web applications in this language along with MySQL as the database layer. I've also used frameworks such as CodeIgniter and continue to improve my PHP knowledge whenever I can.
                </div>

                <span class="skill more" data-box="more">..And More! <i class="fa fa-angle-down"></i></span>
                <div class="skill-box more" style="display:none">
                    As much as possible of my commercial work is backed-up up by tests including e2e tests and unit tests. This includes unit testing both the javscript and php while backing this up with e2e testing with the selenium framework.
                </div>


            </div>

            <div class="title">
                Things I love
            </div>

            <div class="content-area">
                <div class="interest">
                    Squash (the racket game!)
                </div>
                <div class="interest">
                    Piano (I wish I had more time for this)
                </div>
                <div class="interest">
                    Gym
                </div>
                <div class="interest">
                    Restaurant Meals
                </div>
                <div class="interest">
                    Holidays and Travel
                </div>
                <div class="interest">
                    Snowboarding
                </div>
            </div>

        </div>

        <div class="col-md-9">

            <h2>Who are you?</h2>

            <p>Welcome to my personal website! My name’s Alex Perry, pleasure to meet you. I’ve lived in a lot of places over the previous couple of years however I am currently settled in Manchester, in the UK.</p>

            <p>I studied Law at University and graduated with a 2:1. Despite this, I’ve always had a huge passion for programming, web development and even a tiny bit of design! During my studies I soon realised that even though I loved the study of law, a career in web was where I saw myself in the future.</p>

            <p>I’ve been freelancing since the age of around 16 (I’m 22 now), and spent a lot of time creating themes for the Invision Power Board software. I created and ran IPBSkinning.com which was highly successful during the boom of the forum system. One of my themes ‘Sylo’ is one of the most downloaded themes of all time for the platform.</p>

            <p>I soon moved on from this and onto creating sites for the WordPress platform. I was fortunate enough to work with a range of clients from small to medium businesses all over the UK.</p>

            <h2>Where do you work?</h2>

            <p>I currently work for <a href="http://www.laterooms.com">Laterooms.com</a> as a front-end developer. One of the reasons I started to work for Laterooms is that they are huge Javascript fans and their front facing website is a Node.JS application. I currently work on maintaining and improving this application on a daily basis and am lucky enough to be surrounded by many talented developers. </p>

            <p>Laterooms serves thousands of hotel bookings a day - you should check it out. </p>

            <h2>What are you up to at the moment?</h2>

            <p>At the moment I'm working on honing my Node.JS skills. I'm currently a Node newbie and spend a lot of time reading and working on little experimental projects. You can always look at my <a href="http://www.github.com/pezza3434">github</a> to see what I’m up to.</p>

            <p>Outside of development, I've recently moved to Manchester so you'll often find me exploring the city's bars and restaurants; or at the moment, building Ikea furniture! </p>

        </div>

    </div>
</div>
