---
layout: default
---

<div id="fullstrip">
    <div class="container">
        <div class="title">{{ page.title }}</div>
    </div>
</div>

<!--Begin portfolio lists-->

<div class="container">
    <div class="post">
        <div class="row">
            <span class="portfolio-subtext">Here's some recent projects that I'm proud of</span>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="filters">
                    <button style="color: #f96e5b" class="active" data-filter=".websites">Websites</button>
                    <button style="color:#2b618e" data-filter=".invision">Invision Power Board</button>
                    <button style="color:#ed7edc" data-filter=".apps">Web Apps</button>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Begin showcases -->

<div class="adm-app-portfolio portfolio-showcase">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 hidden-xs featured-image">
                        <a data-lightbox="adm1" href="/images/apps/large/amdlg.jpg"><img class="large" style="width:100%" src="/images/apps/large/amdlg.jpg" /></a>
                    </div>
                    <div class="col-xs-4">
                        <a data-lightbox="adm2" href="/images/apps/large/amdlg2.jpg"><img class="large" style="width:100%" src="/images/apps/large/amdlg2.jpg" /></a>
                    </div>
                    <div class="col-xs-4">
                        <a data-lightbox="adm3" href="/images/apps/large/amdlg3.jpg"><img class="large" style="width:100%" src="/images/apps/large/amdlg3.jpg" /></a>
                    </div>
                    <div class="col-xs-4">
                        <a data-lightbox="adm4" href="/images/apps/large/amdlg4.jpg"><img class="large" style="width:100%" src="/images/apps/large/amdlg4.jpg" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Project Details</h2>
                <p>Mark, Mangaging Director of Adm Plumbing Contractors, was spending three days a month collating all his plumber’s handwritten and typed timesheets into one document.</p>

                <p>Mark approached me with the interest of automating this system and to find an easy way to view the time the company’s plumbers were spending on different jobs.</p>

                <p>I worked with Mark to create a timesheet and plumber management web application from the ground up. The system enables all plumbers to log in and log their time spent on different jobs across the construction sites that the company is working on. Mark then had access to an admin panel controlling the entire system and enabling him to easily select a plumber or a plot to view all the associated jobs and logged times.</p>

                <p>The software was built as a web application meaning that it can be accessed from any location on any device connected to the internet. The app was also made fully responsive meaning that other managers on site can access the app on their ipads.</p>

                <p>I used PHP and a MySQL database to power the back-end of the application. In regards to the front end, this is powered by javascript, using the jQuery framework, HTML, using the bootstrap framework and CSS/LESS.</p>

                <p>This application is constantly being improved and developed.</p>

                <span class="close"><i class="fa fa-times"></i></span>

            </div>
        </div>
    </div>
</div>

<div class="showroom-app-portfolio portfolio-showcase" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <a data-lightbox="showroom-picture" href="/images/apps/large/showroomlg.jpg"><img class="large" style="width:100%" src="/images/apps/large/showroomlg.jpg" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Project Details</h2>

                <p>Showroom is a dealer showroom system, created by Codeweavers. I worked at Codeweavers on their front-end team and spent my days maintaining the app and creating new features for the system.</p>

                <p>I looked after the PHP, Javascript and HTML/CSS layer of the application, while other developers maintained the backend API.</p>

                <p>I learnt a tremendous amount working on this enterprise level application and look forward to see how it grows now I have left the team. </p>

                <span class="close"><i class="fa fa-times"></i></span>

            </div>
        </div>
    </div>
</div>

<!-- Begin portfolio list -->

<div class="container">
    <div class="post">
        <div class="row">
            <div class="isotope">
                <div class="col-md-10 col-md-offset-1">

                    <!--Begin Websites -->
                    <div class="element-item websites col-md-4 col-xs-6 col-sm-6" >
                        <a data-title="AmyCleaning.co.uk - A website created while working at tkswebsitedesign.co.uk" data-lightbox="amy cleaning" href="/images/websites/large/amycleaning.jpg"><img src="/images/websites/small/amycleaning.jpg"></a>
                    </div>

                    <div class="element-item websites col-md-4 col-xs-6 col-sm-6" >
                        <a data-title="BlackPepper.co.uk - A website created while working at tkswebsitedesign.co.uk" data-lightbox="black pepper" href="/images/websites/large/blackpepper.jpg"><img src="/images/websites/small/blackpepper.jpg"></a>
                    </div>

                    <div class="element-item websites col-md-4 col-xs-6 col-sm-6" >
                       <a data-title="Enegis.co.uk - A website created while working at tkswebsitedesign.co.uk" data-lightbox="enegis" href="/images/websites/large/enegis.jpg"><img src="/images/websites/small/enegis.jpg"></a>
                    </div>

                    <div class="element-item websites col-md-4 col-xs-6 col-sm-6" >
                        <a data-title="MissTourismWorld.com - A website created while working at tkswebsitedesign.co.uk" data-lightbox="misstourism" href="/images/websites/large/misstourismlg.jpg"><img src="/images/websites/small/misstourism.jpg"></a>
                    </div>

                    <div class="element-item websites col-md-4 col-xs-6 col-sm-6" >
                        <a data-title="PaulLangPhotography.co.uk - A website created while working at tkswebsitedesign.co.uk" data-lightbox="paul lang" href="/images/websites/large/paullanglg.jpg"><img src="/images/websites/small/paullang.jpg"></a>
                    </div>

                    <div class="element-item websites col-md-4 col-xs-6 col-sm-6" >
                        <a data-title="TheGrapeStore.com - A website created while working at tkswebsitedesign.co.uk" data-lightbox="grape store" href="/images/websites/large/thegrapestorelg.jpg"><img src="/images/websites/small/thegrapestore.jpg"></a>
                    </div>

                    <!--Begin Invision -->
                    <div class="element-item invision col-md-4 col-xs-6 col-sm-6" >
                        <a data-lightbox="beacon" href="/images/invision/large/beaconlg.jpg"><img src="/images/invision/small/beacon.jpg"></a>
                    </div>

                    <div class="element-item invision col-md-4 col-xs-6 col-sm-6" >
                        <a data-lightbox="muslimvillage" href="/images/invision/large/muslimvillagelg.jpg"><img src="/images/invision/small/muslimvillge.jpg"></a>
                    </div>

                    <div class="element-item invision col-md-4 col-xs-6 col-sm-6" >
                        <a data-lightbox="rawrlg" href="/images/invision/large/rawrlg.jpg"><img src="/images/invision/small/rawr.jpg"></a>
                    </div>

                    <div class="element-item invision col-md-4 col-xs-6 col-sm-6" >
                        <a data-lightbox="rockraiders" href="/images/invision/large/rockraiderslg.jpg"><img src="/images/invision/small/rockraidersunited.jpg"></a>
                    </div>

                    <div class="element-item invision col-md-4 col-xs-6 col-sm-6" >
                        <a data-lightbox="simples" href="/images/invision/large/simpleslg.jpg"><img src="/images/invision/small/simples.jpg"></a>
                    </div>

                    <div class="element-item invision col-md-4 col-xs-6 col-sm-6" >
                        <a data-lightbox="sylo" href="/images/invision/large/sylo.jpg"><img src="/images/invision/small/sylo.jpg"></a>
                    </div>

                    <!--Begin Apps -->
                    <div class="element-item apps col-md-4 col-xs-6 col-sm-6 showcase-item" data-showcase="adm">
                        <img src="/images/apps/small/adm.jpg">
                    </div>

                    <div class="element-item apps col-md-4 col-xs-6 col-sm-6 showcase-item" data-showcase="showroom">
                        <img src="/images/apps/small/showroom.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
