---
layout: default
---

<div id="fullstrip">
    <div class="container">
        <div class="title">{{ page.title }}</div>
    </div>
</div>

<div class="container">
    <div class="post">


        <div class="row">
            <span class="portfolio-subtext">Here's some recent projects that I'm proud of</span>
        </div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="filters">
            <button style="color: #f96e5b" data-filter=".websites">Websites</button>
            <button style="color:#2b618e" data-filter=".invision">Invision Power Board</button>
            <button style="color:#ed7edc" data-filter=".apps">Web Apps</button>

        </div>
    </div>
</div>
<div class="row">
    <div class="isotope">
        <div class="col-md-10 col-md-offset-1">

            <!--Begin Websites -->
            <div class="element-item websites col-md-4" >
                <img src="/images/websites/small/amycleaning.png">
            </div>

            <div class="element-item websites col-md-4" >
                <img src="/images/websites/small/blackpepper.png">
            </div>

            <div class="element-item websites col-md-4" >
                <img src="/images/websites/small/enegis.png">
            </div>

            <div class="element-item websites col-md-4" >
                <img src="/images/websites/small/misstourism.png">
            </div>

            <div class="element-item websites col-md-4" >
                <img src="/images/websites/small/paullang.png">
            </div>

            <div class="element-item websites col-md-4" >
                <img src="/images/websites/small/thegrapestore.png">
            </div>

            <!--Begin Invision -->
            <div class="element-item invision col-md-4" >
                <img src="/images/invision/small/beacon.png">
            </div>

            <div class="element-item invision col-md-4" >
                <img src="/images/invision/small/muslimvillge.png">
            </div>

            <div class="element-item invision col-md-4" >
                <img src="/images/invision/small/rawr.png">
            </div>

            <div class="element-item invision col-md-4" >
                <img src="/images/invision/small/rockraidersunited.png">
            </div>

            <div class="element-item invision col-md-4" >
                <img src="/images/invision/small/simples.png">
            </div>

            <div class="element-item invision col-md-4" >
                <img src="/images/invision/small/sylo.png">
            </div>

            <!--Begin Apps -->
            <div class="element-item apps col-md-4" >
                <img src="/images/apps/small/adm.png">
            </div>

            <div class="element-item apps col-md-4" >
                <img src="/images/apps/small/showroom.png">
            </div>

        </div>
    </div>
</div>
