---
layout: default
---

<div id="fullstrip">
    <div class="container narrow-container">
        <div class="title">{{ page.title }}</div>
    </div>
</div>

<div class="container narrow-container">
    <div class="post">
        <div class="post-social-icons">
            <div class="twitter">
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet">
                </a>
            </div>
            <div class="facebook">
                <div data-size="large" class="fb-share-button" data-href="http://alexperry.io{{page.url}}" data-layout="button_count"></div>
            </div>
        </div>
      <article class="post-content">
        {{ content }}
      </article>
      <div class="post-social-icons">
          <div class="twitter">
              <a class="twitter-share-button"
                href="https://twitter.com/intent/tweet">
              Tweet</a>
          </div>
          <div class="facebook">
              <div data-size="large" class="fb-share-button" data-href="http://alexperry.io{{page.url}}" data-layout="button_count"></div>
          </div>
      </div>
      <div class="post-footer">
          <div class="row">
              <div class="col-md-12 desc">
                  <span class="title">Ever wondered how old you look?</span>
                  Bet you didn't expect to be asked that on a developer blog right? I'm currently building <strong><a href="http://horu.io" title="horu">HORU</a></strong>, a platform for finding
                  out exactly how old you look. if you have ever asked yourself the question above, <strong><a href="http://horu.io" title="horu">HORU</a></strong> will finally answer that question for you
              </div>
          </div>
      </div>
      <div class="post-footer">
          <div class="row">
              <div class="col-md-2">
                  <div class="bio-image">
                      <img src="/images/profileimage.jpg">
                  </div>
              </div>
              <div class="col-md-10 desc">
                  <span class="title">Bio:</span>
                  Alex perry is a front-end web developer based in Manchester. He blogs about
                  all manner of things including the latest in front-end technologies and techniques, yet also about things
                  that may be seemingly random.
              </div>
          </div>
      </div>
    </div>
</div>
<div class="container narrow-container">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'alexperry'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
