---
layout: default
---

<div id="fullstrip">
    <div class="container">
        <div class="title">{{ page.title }}</div>
    </div>
</div>

<div class="container">
        {% for post in site.posts %}
        <div class="post-wrapper">
            <h1 class="post-name"><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>
            <div class="post-excerpt">
                {{ post.content | strip_html | truncatewords: 50 }}
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
