---
layout: default
---

<div id="fullstrip">
    <div class="container">
        <div class="title">{{ page.title }}</div>
    </div>
</div>

<div class="container">
    <div class="post">
      <article class="post-content">
        {{ content }}
      </article>
      <div class="post-footer">
          <div class="row">
              <div class="col-md-2">
                  <div class="bio-image">
                      <img src="https://media.licdn.com/media/p/1/005/03c/296/1fdb4fa.jpg">
                  </div>
              </div>
              <div class="col-md-10 desc">
                  <span class="title">Bio:</span>
                  Alex perry is a front-end web developer based in Staffordshire, UK. He blogs about
                  all manner of things including the latest in front-end technologies and techniques, yet also about things
                  that may be seemingly random.
              </div>
          </div>
      </div>
    </div>
</div>
